article {
    background-color: #1D1C1D;
    width: 1440px;
    height: 500px;
    margin: 0 auto;
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1 {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 115px;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
}

h3, .smallText {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    margin-left: 30px;
}

input {
    width: 200px;
    height: 50px;
    background: solid #A5A5A5;
    border: 1px solid #A5A5A5;
    border-radius: 10px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #3E374B;
    margin:0 30px 0 30px;
    
}

button {
    width: 150px;
    height: 50px;
    left: 835px;
    top: 256px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #FFFFFF;
    background: #E49644;
    border-radius: 10px;
    border: #E49644;
}

.answerText {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 57px;
    color: #ffffff;
    margin-left: 30px;
    margin-top: 10px;

}
